<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Садовник
      {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <!-- Навбар -->
    <nav class="navbar">
      <img src="{{ url_for('static', filename='images/s_logo_big.png') }}" alt="Логотип" />
      <ul class="nav-links">
        <li>
          <a href="{{ url_for('homepage') }}">На главную</a>
        </li>
        <li>
          <a href="{{ url_for('services_page') }}">Услуги</a>
        </li>
        <li>
          <a href="{{ url_for('about_page') }}">О нас</a>
        </li>
      </ul>
      <a href="https://wa.me/{{ phone_number }}?text={{ 'Здравствуйте! Пишу по поводу заказа услуги у вас!'|urlencode }}" target="_blank" class="cta">Написать нам</a>
    </nav>

    <!-- Контент -->
    {% block content %}

    {% endblock %}

    <!-- Футер -->
    <footer class="footer">
      <p>
        © 2025 Садовник. Все права защищены.<a href="https://2gis.ru/omsk/geo/71000001098245624" target="_blank" class="gis">Как нас найти</a>
      </p>
    </footer>
  </body>
</html>

<!-- Блок СЕО оптимизации -->
<meta name="Для поисковиков" content="посадка растений, посадка елок, посадка елочек, посадка туй, посадка цветов, оформление стен цветами, уход за цветами, 
посадка деревьев, посадка берез, посадка кустарников , озеленение помещений, озеленение сада, озеленение стен, вертикальный сад, укладка газона, посев газона, рулонный газон, посадка растений омск, посадка деревьев омск, посадка кустарника омск, уход за деревьями омск, уход за растениями омск, изготовление декора металлоконструкций, изготовление металлоконструкций, сварочные работы, изготовление металлоконструкций омск, сварочные работы омск, сварка, сварка омск, сварщик на выезд, изготовление лестниц, изготовление металлической лестницы, изготовление каркасов, металлическая лестница, каркас, изготовление мангальной зоны, изготовление металлоконструкций на заказ, металлоконструкции, металлоконструкция, изготовление крыльца из металла, сварить каркас для бассейна, изготовление каркаса для бассейна, ремонт металлоконструкций, ремонт металлоконструкций омск,  сварочные работы, сварочные работы омск, изготовление каркаса, изготовление каркаса омск, кронирование и спил деревьев. 
спилить дерево омск, кронировать дерево омск, кронирование деревьев, спил деревьев, измельчение веток, утилизация мусора омск, вывоз мусора омск, утилизация мусора,  вывоз мусора, альпинисты омск, услуга автовышки омск, распилить дерево на части, распил дерева, спилить березу, спилить сосну, спилить ель, спилить тополь, удалить дерево, работы по спилу деревьев, спилить дерево с вывозом под ключ, спилить и вывезти деревья, вырубить деревья, вырубка деревьев, спилить тополь в омске, спилить березу омск, спилить сосну омск, удалить дерево омск, удалить деревья омск, корчевание пней, удаление пней, удаление корней, выкорчевка пней, выкорчевка пня, выкорчевка пней омск, корчевание пней омск, удалить пень омск, измельчить ветки в омске, измельчить ветки, измельчение веток и кустарников, удаление кустарников, расчистка участков под ключ 
слова: расчистка участков, уборка территорий, уборка участка, расчистка территории, очистить от сорняков территорию, очистить от поросли, очистить от поросли территорию, удалить пни на даче, выкорчевать пни на даче, спил поросли, прополка травы, покос травы, покос травы триммером, покосить траву на даче, покосить траву на участке, косарь травы, 
убрать траву на даче, убрать траву на участке, убрать траву, вывезти траву, вывезти мусор, вспашка земли, вспашка земли плугом, вспашка земли фрезой, вспашка земли мотоблоком, вспахать землю культиватором, вспахать землю мотоблоком, вспахать землю трактором,
погрузка мусора, грузчики, убраться на даче, навести порядок на территории, убраться на территории, услуга уборки, обработка гербицидами, обработать территорию отравой, выкорчевать кустарник, спилить кустарники, привести участок в порядок , привести территорию в порядок, благоустройство территорий, благоустроить территорию, благоустроить дачу, благоустроить участок" />
